parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Entity\\Certificate\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Certificate.php

		-
			message: '#^Property App\\Entity\\Course\:\:\$id is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/Course.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Property App\\Entity\\EventRating\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/EventRating.php

		-
			message: '#^Property App\\Entity\\Location\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Location.php

		-
			message: '#^Property App\\Entity\\Module\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Module.php

		-
			message: '#^Property App\\Entity\\Notification\:\:\$id is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/Notification.php

		-
			message: '#^Property App\\Entity\\Question\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Question.php

		-
			message: '#^Property App\\Entity\\Reclamation\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Reclamation.php

		-
			message: '#^Property App\\Entity\\Reponse\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Reponse.php

		-
			message: '#^Property App\\Entity\\Resultat\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Resultat.php

		-
			message: '#^Method App\\Tests\\Entity\\CourseTest\:\:testCourseEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/CourseTest.php

		-
			message: '#^Method App\\Tests\\Entity\\Embeddable\\EmailTest\:\:testEmailEmbeddable\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/Embeddable/EmailTest.php

		-
			message: '#^Method App\\Tests\\Entity\\EventRatingTest\:\:testEventRatingEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/EventRatingTest.php

		-
			message: '#^Method App\\Tests\\Entity\\EventTest\:\:testEventEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/EventTest.php

		-
			message: '#^Method App\\Tests\\Entity\\LocationTest\:\:testLocationEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/LocationTest.php

		-
			message: '#^Method App\\Tests\\Entity\\ModuleTest\:\:testModuleEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/ModuleTest.php

		-
			message: '#^Method App\\Tests\\Entity\\NotificationTest\:\:testNotificationEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/NotificationTest.php

		-
			message: '#^Method App\\Tests\\Entity\\QuestionTest\:\:testQuestionEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/QuestionTest.php

		-
			message: '#^Method App\\Tests\\Entity\\QuizTest\:\:testQuizEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/QuizTest.php

		-
			message: '#^Method App\\Tests\\Entity\\ReclamationTest\:\:testReclamationEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/ReclamationTest.php

		-
			message: '#^Method App\\Tests\\Entity\\ReponseTest\:\:testReponseEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/ReponseTest.php

		-
			message: '#^Method App\\Tests\\Entity\\ResultatTest\:\:testResultatEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/ResultatTest.php

		-
			message: '#^Method App\\Tests\\Entity\\Trait\\BlameableTraitTest\:\:testBlameableTrait\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/Trait/BlameableTraitTest.php

		-
			message: '#^Property App\\Tests\\Entity\\Trait\\BlameableTraitTest\:\:\$traitObject has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Entity/Trait/BlameableTraitTest.php

		-
			message: '#^Method App\\Tests\\Entity\\Trait\\TimestampableTraitTest\:\:testTimestampableTrait\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/Trait/TimestampableTraitTest.php

		-
			message: '#^Property App\\Tests\\Entity\\Trait\\TimestampableTraitTest\:\:\$traitObject has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Entity/Trait/TimestampableTraitTest.php

		-
			message: '#^Method App\\Tests\\Entity\\UserCourseViewTest\:\:testUserCourseViewEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/UserCourseViewTest.php

		-
			message: '#^Method App\\Tests\\Entity\\UserTest\:\:testUserEntity\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Entity/UserTest.php

		-
			message: '#^Property App\\Tests\\EventListener\\ModuleAddedListenerTest\:\:\$listener has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/EventListener/ModuleAddedListenerTest.php

		-
			message: '#^Property App\\Tests\\EventListener\\ModuleAddedListenerTest\:\:\$logger has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/EventListener/ModuleAddedListenerTest.php

		-
			message: '#^Property App\\Tests\\EventListener\\ModuleAddedListenerTest\:\:\$notificationService has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/EventListener/ModuleAddedListenerTest.php

		-
			message: '#^Property App\\Tests\\Service\\CertificateServiceTest\:\:\$certificateService has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/CertificateServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\CertificateServiceTest\:\:\$pdf has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/CertificateServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\CertificateServiceTest\:\:\$twig has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/CertificateServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\GeminiServiceTest\:\:\$client has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/GeminiServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\GeminiServiceTest\:\:\$geminiService has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/GeminiServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\GeminiTranslatorServiceTest\:\:\$httpClient has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/GeminiTranslatorServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\GeminiTranslatorServiceTest\:\:\$logger has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/GeminiTranslatorServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\GeminiTranslatorServiceTest\:\:\$translator has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/GeminiTranslatorServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\HuggingFaceTutorServiceTest\:\:\$httpClient has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/HuggingFaceTutorServiceTest.php

		-
			message: '#^Property App\\Tests\\Service\\HuggingFaceTutorServiceTest\:\:\$tutorService has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Service/HuggingFaceTutorServiceTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
