{% extends 'base.html.twig' %}

{% block body %}
<h1>✏ Modifier cours</h1>

<form method="POST">
    <input type="text" name="titre" value="{{ cours.titre }}"><br><br>
    <input type="text" name="contenu" value="{{ cours.contenu }}"><br><br>
    <input type="text" name="type" value="{{ cours.type }}"><br><br>

    <button type="submit">Modifier</button>
</form>

{% endblock %}
